@font-face {
  font-family: 'league_gothic';
  src: url('../fonts/LeagueGothic-Regular.otf');
  src: url('../fonts/leaguegothic-regular-webfont.eot') format('embedded-opentype'),
  url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
  url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
  url('../fonts/leaguegothic-regular-webfont.svg') format('svg');
}

@font-face {
  font-family: 'league_gothic_italic';
  src: url('../fonts/LeagueGothic-Italic.otf');
  src: url('../fonts/leaguegothic-italic-webfont.eot') format('embedded-opentype'),
  url('../fonts/leaguegothic-italic-webfont.woff') format('woff'),
  url('../fonts/leaguegothic-italic-webfont.ttf') format('truetype'),
  url('../fonts/leaguegothic-italic-webfont.svg') format('svg');
}