$bright-red: #fb4343;
$dark-red: #b83143;
$light-gray: #f0f0f0;

$outer-border-width: 2.2vw;
$inner-border-width: 3.9vw;
$total-borders: 6vw;

.full-width-wrapper {
  position: relative;
  @include vertical-spacing();
  display: flex;
  align-items: stretch;
  .page-wrapper {
    max-width: 100%;
    flex: 10;
    position: relative;
    border: solid $site-dark;
    border-width: 80px 0;
    margin: 45px auto;
    &::before, &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 45px;
      background-color: $site-dark;
    }
    &::before {
      top: -125px;
    }
    &::after {
      bottom: -125px;
    }
  }
  .callout {
    margin-bottom: 2.5vw;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .two-columns-wide-right, .two-columns-wide-left {
    position: relative;
    @include clearfix;
    @include media($large-screen) {
      @include row();
      max-width: 1675px;
      margin: 0 auto;
    }
    section {
      margin-bottom: 0;
    }
    .left, .right {
      margin-bottom: 0;
    }
  }
  .two-columns-wide-right {
    .left {
      position: relative;
      background-color: white;
      padding: 1.9vw 1.9vw 0 1.9vw;
      @include media($large-screen) {
        @include span-columns(4);
      }
    }
    .right {
      @include media($large-screen) {
        @include span-columns(8);
      }
      & > h1 {
        position: absolute;
        top: -75px;
        padding-left: 3.1vw;
        margin: 0.65vw 0;
        color: white;
        font-family: league_gothic_italic;
        @include font-size($h1-font-sizes);
      }
    }
  }
  .two-columns-wide-left {
    .left {
      @include media($large-screen) {
        @include span-columns(8);
      }
      padding-bottom: $inner-border-width;
      & > h1 {
        position: absolute;
        top: -75px;
        padding-left: 3.1vw;
        margin: 0.65vw 0;
        color: white;
        font-family: league_gothic_italic;
        @include font-size($h1-font-sizes);
      }
    }
    .right {
      background-color: white;
      padding: 1.9vw 1.9vw 0 1.9vw;
      @include media($large-screen) {
        @include span-columns(4);
      }
      .callout {
        padding-right: 1.9vw;
      }
    }
  }
  &.red {
    .page-wrapper {
      background-color: $bright-red;
      border-color: $dark-red;
    }
  }
  &.blue {
    .page-wrapper {
      background-color: $light-gray;
      border-color: $site-blue;
    }
    .highlight-wrapper {
      background-color: $light-gray;
    }
  }
}