.tabs .tab-title {
  width: 33.3333333%;
  background-color: lighten($site-black, 6.5%); //#444
  line-height: 1.4;
  & > a {
    padding: 0.375rem 0;
    font-size: 0.875rem;
    color: white;
    text-align: center;
    background-color: transparent;
    font-family: $body-font;
    &:hover {
      @include background-animation(1s);
      background-color: #aaa;
    }
  }
  &.active {
    background-color: $site-yellow;
    a {
      color: white;
      background-color: transparent;
    }
  }
}

.tabs-content {
  ul {
    margin-left: 0;
  }
}

.tabs-content > .content {
  padding-top: 1.875rem;
}